# Arr stack
# Documentation: https://trash-guides.info/
# Scripts: https://github.com/RandomNinjaAtk/arr-scripts
services:
  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr
    hostname: sonarr
    restart: always
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - NO_PROXY=${NO_PROXY}
    network_mode: host
    volumes:
      - ./config/sonarr:/config
      - ${STORAGE}/Transmission/complete:/downloads
      - ${STORAGE}/Media/Series:/tv
    healthcheck:
      test: curl -fs http://localhost:8989 || exit 1
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    container_name: radarr
    hostname: radarr
    restart: always
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - NO_PROXY=${NO_PROXY}
    network_mode: host
    volumes:
      - ./config/radarr:/config
      - ${STORAGE}/Transmission/complete:/downloads
      - ${STORAGE}/Media/Movies:/movies
    healthcheck:
      test: curl -fs http://localhost:7878 || exit 1
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3

  lidarr:
    image: lscr.io/linuxserver/lidarr:3.1.0
    container_name: lidarr
    hostname: lidarr
    restart: always
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - NO_PROXY=${NO_PROXY}
    network_mode: host
    volumes:
      - ./config/lidarr:/config
      - ./config/services:/custom-services.d
      - ./config/scripts/lidarr_init.sh:/custom-cont-init.d/lidarr_init.sh
      - ${STORAGE}/Transmission/complete:/downloads
      - ${STORAGE}/Media/Music:/music
    healthcheck:
      test: curl -fs http://localhost:8686 || exit 1
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    restart: always
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - NO_PROXY=${NO_PROXY}
    network_mode: host
    volumes:
      - ./config/prowlarr:/config
    healthcheck:
      test: curl -fs http://localhost:9696 || exit 1
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3

  # Restarter for prowlarr
  # restarter:
  #   image: docker:cli
  #   container_name: restarter
  #   restart: always
  #   volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
  #   command: ["/bin/sh", "-c", "while true; do sleep 1d; docker restart prowlarr; done"]
  #   restart: unless-stopped

  overseerr:
    image: lscr.io/linuxserver/overseerr:1.34.0
    container_name: overseerr
    hostname: overseerr
    restart: always
    environment:
      - PUID=${UID}
      - PGID=${GID}
      - TZ=${TZ}
      - HTTP_PROXY=${HTTP_PROXY}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - NO_PROXY=${NO_PROXY}
    network_mode: host
    volumes:
      - ./config/overseerr:/config
    healthcheck:
      test: curl -fs http://localhost:5055 || exit 1
      interval: 30s
      timeout: 10s
      start_period: 30s
      retries: 3

  # traefik-kop:
  #   image: ghcr.io/jittering/traefik-kop:0.16
  #   container_name: traefik-kop
  #   hostname: traefik-kop
  #   restart: always
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #   environment:
  #     - "REDIS_ADDR=${REDIS_ADDR}"
  #     - "BIND_IP=${SHAMSHEL_IP}"